@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 240 5% 96%;
    --foreground: 228 71% 16%;
    --card: 0 0% 100%;
    --card-foreground: 228 71% 16%;
    --popover: 0 0% 100%;
    --popover-foreground: 228 71% 16%;
    --primary: 228 71% 16%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 5% 96%;
    --secondary-foreground: 228 71% 16%;
    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;
    --accent: 85 41% 56%;
    --accent-foreground: 24 10% 10%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 228 71% 16%;
    --radius: 0.5rem;
    --chart-1: 228 71% 16%;
    --chart-2: 231 91% 60%;
    --chart-3: 204 70% 53%;
    --chart-4: 216 14% 13%;
    --chart-5: 210 40% 96.1%;
    
    --sidebar-background: 228 71% 16%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 210 40% 98%;
    --sidebar-primary-foreground: 228 71% 16%;
    --sidebar-accent: 228 71% 26%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 228 71% 21%;
    --sidebar-ring: 231 91% 60%;
  }
  .dark {
    --background: 228 71% 16%;
    --foreground: 0 0% 98%;
    --card: 228 71% 16%;
    --card-foreground: 0 0% 98%;
    --popover: 228 71% 16%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 228 71% 16%;
    --secondary: 228 71% 21%;
    --secondary-foreground: 0 0% 98%;
    --muted: 228 71% 21%;
    --muted-foreground: 240 4% 65%;
    --accent: 85 41% 56%;
    --accent-foreground: 24 10% 10%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 228 71% 21%;
    --input: 228 71% 21%;
    --ring: 85 41% 56%;
    --chart-1: 228 71% 16%;
    --chart-2: 231 91% 60%;
    --chart-3: 204 70% 53%;
    --chart-4: 216 14% 13%;
    --chart-5: 210 40% 98%;

    --sidebar-background: 228 71% 16%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 210 40% 98%;
    --sidebar-primary-foreground: 228 71% 16%;
    --sidebar-accent: 228 71% 21%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 228 71% 21%;
    --sidebar-ring: 231 91% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
